<html>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<div ng-app="">
			<section id="run">
				<div class="blanc">
					<p>{{blanc}}</p>
				</div>

				<div class='noir'>
					<p>{{noir}}</p>
				</div>
			</section>

			<div class="ou"></div>

			<section id="edit">
				<p>noir : <input type="text" ng-model="noir" placeholder="noir"></p>
				<p >blanc : <input type="text" ng-model="blanc" placeholder="blanc"></p>
				<div id="res"></div>
			</section>

		</div>
	</body>

</html>